<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verkefni 2 - vefforritun 1</title>
    <link rel="stylesheet" href="/verkefni2/assets/styles.css">
</head>
<body>
    <h1> thversumma kennitolu </h1>
    <ol>
        <li> jon jonsson: <a href="/ktsida/2302992345">2302992345</a> </li>
        <li> jeff jeffson: <a href="/ktsida/2134214534">2134214534</a> </li>
    </ol>
</body>
</html>